.cottoncandy-button {
    border-color: #A2D2FF;
    color: #BDE0FE;
}

.cyberpunk-button {
    border-color: #7400BB;
    color: #80FFDB;
}

.evergreen-button {
    border-color: #99D98C;
    color: #52B69A;
}

.purple-button {
    border-color: #8B73A0;
    color: #F4DAFA;
}

.racer-button {
    border-color: #FCA311;
    color: #E5E5E5;
}

.turquoise-button {
    border-color: #56CFE1;
    color: #488FE3;
}

.turquoise2-button {
    border-color: #4EA8DE;
    color: #80FFD8;
}

.yellow-button {
    border-color: #FDFEB7;
    color: #DFFFBD;
}