/*
yellow: 100D11 140D19 DFFFBD FDFEB7
purple: 100D11 140D19 F4DAFA 8B73A0
turqoise: 140D19 100D11 488FE3 56CFE1
turqoise2: 140D19 100D11 80FFD8 4EA8DE
cyberp: 140D19 100D11 80FFDB 7400BB
*/

:root {
    --bg-color: #140D19;
    --bg-color2: #100D11;
    --primary-color: #80FFDB;
    --secondary-color: #7400BB;
}

body {
    display: block;
    background-color: var(--bg-color);
    font-family: monospace;
    letter-spacing: 2px;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.content {
    display: relative;
}

.sidebar {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    width: 300px;
    background-color: var(--bg-color2);
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 100;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0s linear 0.2s;
}

.sidebar.closed {
    transform: translateX(0);
    opacity: 1; 
    visibility: visible;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.sidebar-button {
    margin: 16px;
    font-size: 32px;
    background: none;
    border: none;

    transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.sidebar-button i {
    color: var(--secondary-color);
    transition: 0.3s;
}

.sidebar-button i:hover {
    color: var(--primary-color);
    transform: scale(1.2);
}

.close-bar-button {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 32px;
    background: none;
    border: none;
    color: var(--secondary-color);
    transition: 0.3s;
}

.close-bar-button:hover {
    color: var(--primary-color);
}

.color-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 0 20px;
}

.color-button {
    width: 80%;
    margin-left: 10%;
    height: 50px;
    font-family: monospace;
    font-size: larger;
    letter-spacing: 1px;;
    border-style: solid;
    border-radius: 12px;
    border-width: 4px;
    background-color: var(--bg-color2);
    transform-origin: center center;
    transition: transform 0.3s ease;
    transform: scale(1);
    cursor: pointer;
}

.color-button:hover {
    transform: scale(1.1);
}

.yellow-button {
    border-color: #FDFEB7;
    color: #DFFFBD;
}

.purple-button {
    border-color: #8B73A0;
    color: #F4DAFA;
}

.turquoise-button {
    border-color: #56CFE1;
    color: #488FE3;
}

.turquoise2-button {
    border-color: #4EA8DE;
    color: #80FFD8;
}

.cyberpunk-button {
    border-color: #7400BB;
    color: #80FFDB;
}

.header {
    overflow: hidden;
    padding: 0;
}
  
.header a {
    float: left;
    color: var(--secondary-color);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 24px;
    line-height: 25px;
    border-radius: 4px;
    float: right;
}
  
.header a:hover {
    color: var(--primary-color); 
    text-decoration: underline;
}

.intro-head {
    display: inline-block;
    margin-left: 100px;
    margin-top: 10px;
    padding: 0;
    font-size: large;
}

.intro-head h1 {
    color: var(--primary-color);
}

.intro-head-text {
    font-weight: bold;
    border-right: 20px solid;
    border-color: var(--primary-color);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(22),
        cursor .5s step-end infinite alternate;
    animation-delay: 0s, 2.5s;
    animation-fill-mode: forwards, forwards;
}

.university {
    margin-top: 36px;
    margin-left: 100px;
    padding: 0;
    color: var(--primary-color);
}

.university h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
}

.university h2 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    margin-top: 2px;
    opacity: 0.8;
}

.tech {
    display: inline-block;
    margin-left: 100px;
    font-size: small;
}

.tech li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.tech i {
    color: var(--secondary-color);
    transition: 0.3s
}

.tech i::after {
    content: attr(data-tech-name);
    
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: var(--bg-color2);
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-family: monospace;
    white-space: nowrap;
    
    border: 1px solid var(--secondary-color);
    
    opacity: 0;
    visibility: hidden;
    
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    
    transform: translateX(-50%) translateY(5px);
}

.tech i:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.links {
    position: absolute;
    bottom: 0;
    margin-bottom: 48px;
}

.links a {
    margin-left: 100px;
    font-size: large;
    color: var(--secondary-color);
    text-decoration: none;
}

.links a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.tech ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.tech li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px; 
}

.tech-langs {
    margin-bottom: 30px;
    margin-top: 60px;
}

.other-tech {
    margin-bottom: 40px;
}

.page-content {
    margin: 60px 100px;
    color: var(--primary-color);
}

.project-card, .experience-card {
    width: 50%;
    margin-bottom: 10px;
    padding-left: 16px;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .page-content {
        margin: 40px 20px;
    }
}

@keyframes typing {
    from { width: 0 }
}

@keyframes cursor {
    50% { border-color: transparent }
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }

    .intro-head, .university, .tech, .links {
        margin-left: 20px;
    }
    
    .tech li {
        font-size: 36px;
    }
    
    .sidebar {
        width: 100%; 
    }
}