/*
yellow: 100D11 DFFFBD FDFEB7
purple: 100D11 F4DAFA 8B73A0
turqoise: 140D19 488FE3 56CFE1
turqoise2: 140D19 80FFD8 4EA8DE
cyberp: 140D19 80FFDB 7400BB
*/
:root {
    --bg-color: #140D19;
    --primary-color: #80FFDB;
    --secondary-color: #7400BB;
}

body {
    background-color: var(--bg-color);
    font-family: monospace;
    letter-spacing: 2px;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.header {
    overflow: hidden;
    padding: 0;
}
  
.header a {
    float: left;
    color: var(--secondary-color);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 24px;
    line-height: 25px;
    border-radius: 4px;
    float: right;
}
  
.header a:hover {
    color: var(--primary-color); 
    text-decoration: underline;
}

.intro-head {
    display: inline-block;
    margin-left: 80px;
    margin-top: 40px;
    padding: 0;
    font-size: large;
}

.intro-head h1 {
    color: var(--primary-color);
}

.intro-head-text {
    font-weight: bold;
    border-right: 20px solid;
    border-color: var(--primary-color);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(22),
        cursor .5s step-end infinite alternate;
    animation-delay: 0s, 2.5s;
}

.university {
    margin-top: 36px;
    margin-left: 80px;
    padding: 0;
    font-size: medium;
    color: var(--primary-color);
}

.tech {
    display: inline-block;
    margin-left: 80px;
    font-size: small;
    color: var(--secondary-color);
}

.links {
    position: absolute;
    bottom: 0;
    margin-bottom: 48px;
}

.links a {
    margin-left: 80px;
    font-size: large;
    color: var(--secondary-color);
    text-decoration: none;
}

.links a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.tech ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.tech li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px; 
}

.tech-langs {
    margin-bottom: 30px;
    margin-top: 60px;
}

.other-tech {
    margin-bottom: 40px;
}

@keyframes typing {
    from { width: 0 }
}

@keyframes cursor {
    50% { border-color: transparent }
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}